<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>

<servlet>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/logout</url-pattern>
</servlet-mapping>
 
 <servlet>
  <servlet-name>MakePostServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.MakePostServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>MakePostServlet</servlet-name>
  <url-pattern>/makePost</url-pattern>
</servlet-mapping>
 
  <servlet>
  <servlet-name>AllPostServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.AllPostServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AllPostServlet</servlet-name>
  <url-pattern>/allPost</url-pattern>
</servlet-mapping>
 
 <welcome-file-list>
     <welcome-file>login.jsp</welcome-file>
 </welcome-file-list>
</web-app>