<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>

<servlet>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/logout</url-pattern>
</servlet-mapping>
 
 <servlet>
  <servlet-name>MakePostServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.MakePostServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>MakePostServlet</servlet-name>
  <url-pattern>/makePost</url-pattern>
</servlet-mapping>
 
<servlet>
  <servlet-name>AddCategoryServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.AddCategoryServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AddCategoryServlet</servlet-name>
  <url-pattern>/addCategory</url-pattern>
</servlet-mapping>
 
 <servlet>
  <servlet-name>AllCategoryServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.AllCategoryServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>AllCategoryServlet</servlet-name>
  <url-pattern>/allCategory</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>UpdateCategoryServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.UpdateCategoryServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>UpdateCategoryServlet</servlet-name>
  <url-pattern>/updateCategory</url-pattern>
</servlet-mapping>
 
 <servlet>
  <servlet-name>DeleteCategoryServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.DeleteCategoryServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DeleteCategoryServlet</servlet-name>
  <url-pattern>/deleteCategory</url-pattern>
</servlet-mapping>
 
 <servlet>
  <servlet-name>ValidatePasswordServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.ValidatePasswordServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ValidatePasswordServlet</servlet-name>
  <url-pattern>/validatePassword</url-pattern>
</servlet-mapping>

 <servlet>
  <servlet-name>UpdatePasswordServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.ChangePasswordServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>UpdatePasswordServlet</servlet-name>
  <url-pattern>/updatePassword</url-pattern>
</servlet-mapping>

 <servlet>
  <servlet-name>SendEmailServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.SendEmailServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>SendEmailServlet</servlet-name>
  <url-pattern>/sendEmail</url-pattern>
</servlet-mapping>
 
<servlet>
  <servlet-name>DeleteArticleServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.DeleteArticleServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DeleteArticleServlet</servlet-name>
  <url-pattern>/deleteArticle</url-pattern>
</servlet-mapping>
 
<servlet>
  <servlet-name>EditPostServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.EditPostServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>EditPostServlet</servlet-name>
  <url-pattern>/editPost</url-pattern>
</servlet-mapping> 
 
 <servlet>
  <servlet-name>ReadFullArticleServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.ReadFullArticleServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>ReadFullArticleServlet</servlet-name>
  <url-pattern>/readFullArticle</url-pattern>
</servlet-mapping> 
 
 <servlet>
  <servlet-name>UploadFileServlet</servlet-name>
  <servlet-class>com.appspot.angge3.controller.UploadFileServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>UploadFileServlet</servlet-name>
  <url-pattern>/uploadFile</url-pattern>
</servlet-mapping>
 
 <welcome-file-list>
     <welcome-file>login.jsp</welcome-file>
 </welcome-file-list>
</web-app>